#apresentacao {
    display: grid;
    gap: 20px;
    grid-template-columns: auto repeat(2, minmax(auto, 600px)) auto;
}

#apresentacao .seciton_all {
    display: flex;
}

#apresentacao .section_desc {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 100%;
    min-width: 300px;
    grid-column: 2/3;
}

#apresentacao .wrap_img_decorative {
    width: 100%;
    min-width: 300px;
    position: relative;
    grid-column: 3/4;
}

#apresentacao h1 {
    font-size: 4.0rem;
    max-width: 10ch;
}

#apresentacao p {
    font-size: 1.6rem;
    max-width: 37ch;
}

#apresentacao .section_img_decorativa {
    position: absolute;
    width: 100%;
    height: 140%;
    object-fit: cover;
    object-position: center center;
}

#apresentacao .section_desc_a {
    max-width: max-content;
}