#apresentacao h1 {
    font-size: 4.0rem;
    max-width: 20ch;
}

#apresentacao p {
    font-size: 1.6rem;
    max-width: 37ch;
}

#apresentacao .section_img_decorativa {
    position: absolute;
    width: 100%;
    height: 140%;
    object-fit: cover;
    object-position: center center;
}

#apresentacao .section_desc_a {
    max-width: max-content;
}