#especificacoes {
    min-height: min-content;
    padding: 60px 0;
    margin: 200px 0;
}

#especificacoes .section_span {
    font-size: 1.5rem;
    text-transform: uppercase;
}

#especificacoes h2 {
    text-transform: lowercase;
    font-size: 3rem;
    max-width: 20ch;
}

#especificacoes .section_desc > p {
    font-size: 1.5rem;
    max-width: 40ch;
}

#especificacoes .section_desc_a {
    text-transform: uppercase;
    padding: 5px 0;
    max-width: max-content;
    margin-bottom: 60px;
}

.box_funcionalidades {
    display: flex;
    gap: 25px;
    width: 100%;
}

.box_funcionalidades h3 {
    font-weight: normal;
}

.box_funcionalidades .funcionalidades {
    display: flex;
    min-width: 50px;
    flex-direction: column;
    gap: 10px;
    align-items: start;
}

#especificacoes  .section_img_decorativa {
    position: absolute;
    height: 140%;
    width: auto;
    max-width: 100%;
    min-width: 300px;
    top: -20%;
    object-fit: cover;
    object-position: left top;
    border-radius: 5px;
}