header {
    padding: 20px 0;
}

.header_nav, .nav_ul {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    align-items: center;
}

.nav_a {
    display: block;
    padding: 20px 0;
}